<div class="card text-center d-flex align-items-center rgba-black-strong py-5 px-4 justify-content-center"
  style="width: 25rem; text-align: center; position: inherit; border-radius: 0.5rem;">

  <!-- // put [Units]="'metric'" [unitSymbol]="'C'" for Celcious or
            [Units]="'kalvin'" [unitSymbol]="'K'" for Kalvin   or
            [Units]="'imperial'" [unitSymbol]="'F'" for Farinhite

            Temperature. Units - default: kelvin, metric: Celsius, imperial: Fahrenheit
            more information: https://openweathermap.org/api/one-call-3#data

-->
  <mal-angular-weather-any-degree class="weather" [Units]="'metric'" [unitSymbol]="'C'"
    [APIKEY]="'4a170c90863c4193cbe33d806b34b3ca'" [width]="'380px'" [height]="'355px'" [isBoxShadow]="false"
    [borderRadius]="'0px'" [backgroundColor]="'transparent'" [locationFontSize]="'35px'" [locationFontColor]="'#20a8d8'"
    [status]="true" [statusFontColor]="'#20a8d8'" [statusFontSize]="'18px'" [temperature]="true"
    [tempratureFontColor]="'#20a8d8'" [tempratureFontSize]="'65px'" [weatherImages]="true" [weatherImageWidth]="'110px'"
    [weatherImageHeight]="'110px'" [geoLocation]="true" [location]="''" [isWind]="true" [windFontColor]="'#20a8d8'"
    [windFontSize]="'17px'" [humidityFontColor]="'#20a8d8'" [humidityFontSize]="'17px'">
  </mal-angular-weather-any-degree>

</div>
<div class="card text-center d-flex align-items-center rgba-black-strong py-5 px-4 justify-content-center "
  style="width: 25rem;height: 0.5em; text-align: center; position: inherit;border-radius: 0.5rem;">
  <p style="font-size: 1.5rem;"> By Mahdy Ataey:
    <a class="btn" href="https://www.linkedin.com/in/mahdy-ataey-631931b0/">
      <svg height="1.5rem" width="1.5rem" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 473.931 473.931" xml:space="preserve" fill="#000000">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <circle style="fill:#4A86C5;" cx="236.966" cy="236.966" r="236.966"></circle>
          <path style="fill:#3D80B2;"
            d="M404.518,69.383c92.541,92.549,92.549,242.59,0,335.138c-92.541,92.541-242.593,92.541-335.134,0 L404.518,69.383z">
          </path>
          <path style="fill:#4A86C5;"
            d="M462.646,309.275c0.868-2.713,1.658-5.456,2.432-8.206 C464.307,303.823,463.496,306.562,462.646,309.275z">
          </path>
          <g>
            <polygon style="fill:#377CA5;" points="465.097,301.017 465.097,301.017 465.082,301.07 "></polygon>
            <path style="fill:#377CA5;"
              d="M465.097,301.017L336.721,172.641l-29.204,29.204l-20.303-20.303l-16.946,16.946L171.032,99.25 l-6.155-2.346l-38.08,38.08l45.968,45.964l-44.998,44.995l43.943,43.943l-48.048,48.052L276.475,470.59 c87.984-14.78,159.5-77.993,186.175-161.311c0.849-2.716,1.658-5.452,2.432-8.206C465.082,301.055,465.09,301.032,465.097,301.017z ">
            </path>
          </g>
          <path style="fill:#FFFFFF;"
            d="M358.565,230.459v87.883h-50.944v-81.997c0-20.595-7.375-34.656-25.811-34.656 c-14.084,0-22.458,9.474-26.147,18.634c-1.343,3.278-1.688,7.835-1.688,12.423v85.593H203.02c0,0,0.681-138.875,0-153.259h50.952 V186.8c-0.094,0.161-0.236,0.34-0.329,0.498h0.329V186.8c6.769-10.425,18.862-25.324,45.923-25.324 C333.432,161.479,358.565,183.384,358.565,230.459z M149.7,91.198c-17.429,0-28.838,11.439-28.838,26.473 c0,14.716,11.072,26.495,28.164,26.495h0.344c17.766,0,28.823-11.779,28.823-26.495C177.857,102.636,167.137,91.198,149.7,91.198z M123.886,318.341h50.944V165.083h-50.944V318.341z">
          </path>
        </g>
      </svg>
    </a>|
    <a href="https://github.com/mahdiataey/Angular-weather-any-degree"> <svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" height="1.5rem" width="1.5rem" viewBox="0 0 128 128">
        <defs>
          <circle id="b" cx="64" cy="64" r="56" />
          <filter x="-7.1%" y="-5.4%" width="114.3%" height="114.3%" filterUnits="objectBoundingBox" id="a">
            <feMorphology radius="1" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1" />
            <feOffset dy="2" in="shadowSpreadOuter1" result="shadowOffsetOuter1" />
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1" />
            <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1" />
            <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.240942029 0" in="shadowBlurOuter1" />
          </filter>
          <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="c">
            <stop stop-color="#FEFEFE" offset="0%" />
            <stop stop-color="#E0E0E0" offset="100%" />
          </linearGradient>
          <circle id="d" cx="64" cy="63" r="52" />
          <linearGradient x1="50%" y1="100%" x2="50%" y2="0%" id="g">
            <stop stop-color="#492779" offset="0%" />
            <stop stop-color="#892793" offset="100%" />
          </linearGradient>
          <path
            d="M12 64.034c0 23.025 14.885 42.472 35.555 49.367 2.6.456 3.575-1.105 3.575-2.47 0-1.237-.065-5.334-.065-9.692C38 103.644 34.62 98.05 33.58 95.124c-.585-1.496-3.12-6.114-5.33-7.35-1.82-.976-4.42-3.382-.065-3.447 4.095-.065 7.02 3.772 7.995 5.333 4.68 7.87 12.155 5.66 15.145 4.293.455-3.382 1.82-5.66 3.315-6.96-11.57-1.3-23.66-5.788-23.66-25.69 0-5.66 2.015-10.343 5.33-13.985-.52-1.3-2.34-6.634.52-13.79 0 0 4.355-1.365 14.3 5.334 4.16-1.17 8.58-1.756 13-1.756s8.84.586 13 1.756c9.945-6.764 14.3-5.333 14.3-5.333 2.86 7.154 1.04 12.487.52 13.788 3.315 3.642 5.33 8.26 5.33 13.984 0 19.968-12.155 24.39-23.725 25.692 1.885 1.626 3.51 4.748 3.51 9.626 0 6.96-.065 12.553-.065 14.31 0 1.365.975 2.99 3.575 2.47C101.115 106.507 116 86.995 116 64.035 116 35.284 92.73 12 64 12S12 35.285 12 64.034z"
            id="e" />
          <filter x="-.5%" y="-.5%" width="101%" height="102%" filterUnits="objectBoundingBox" id="f">
            <feOffset dy="1" in="SourceAlpha" result="shadowOffsetOuter1" />
            <feColorMatrix values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.529296875 0" in="shadowOffsetOuter1" />
          </filter>
          <filter x="-1%" y="-1%" width="101.9%" height="103%" filterUnits="objectBoundingBox" id="h">
            <feGaussianBlur stdDeviation="1" in="SourceAlpha" result="shadowBlurInner1" />
            <feOffset in="shadowBlurInner1" result="shadowOffsetInner1" />
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1"
              result="shadowInnerInner1" />
            <feColorMatrix values="0 0 0 0 0.258823529 0 0 0 0 0.137254902 0 0 0 0 0.431372549 0 0 0 0.703549592 0"
              in="shadowInnerInner1" />
          </filter>
        </defs>
        <g fill="none" fill-rule="evenodd">
          <path d="M0 0h128v128H0z" />
          <use fill="#000" filter="url(#a)" xlink:href="#b" />
          <use stroke-opacity=".5" stroke="#BABABA" stroke-width="2" fill-opacity="0" fill="#FFF" xlink:href="#b" />
          <circle fill="url(#c)" cx="64" cy="64" r="56" />
          <g>
            <use fill="#000" filter="url(#f)" xlink:href="#e" />
            <use fill="url(#g)" xlink:href="#e" />
            <use fill="#000" filter="url(#h)" xlink:href="#e" />
          </g>
        </g>
      </svg></a> |
    <a href=""> <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" height="1.5rem" width="1.5rem"
        viewBox="0 0 18 7">
        <path fill="#CB3837"
          d="M0,0h18v6H9v1H5V6H0V0z M1,5h2V2h1v3h1V1H1V5z M6,1v5h2V5h2V1H6z M8,2h1v2H8V2z M11,1v4h2V2h1v3h1V2h1v3h1V1H11z" />
        <polygon fill="#FFFFFF" points="1,5 3,5 3,2 4,2 4,5 5,5 5,1 1,1 " />
        <path fill="#FFFFFF" d="M6,1v5h2V5h2V1H6z M9,4H8V2h1V4z" />
        <polygon fill="#FFFFFF" points="11,1 11,5 13,5 13,2 14,2 14,5 15,5 15,2 16,2 16,5 17,5 17,1 " />
      </svg></a>
  </p>
</div>
