/* div {
  width: 100px;
  height: 100px;

  position: absolute top;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
} */
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
